/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.call-menue {
    background-color: orange;
    color: black;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    display: inline-block;
    position: fixed;
    bottom: 0px;
    right: 160px;
}